*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(232, 241, 207);
}

#form{
    width:500px;
    margin: 100px auto 0 auto ;
    padding:50px;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    display: block;
}

h1{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.form-control{
    
    display: flex;
    flex-direction: column;
}

.form-control input{
    padding: 8px;
    width: 100%;
    font-size: 20px;
    border-color: rgb(155, 200, 240);
    border-radius: 4px;
}

#form #btn{
    padding: 6px;
    font-size: 20px;
    margin: 10px 0 0 0;
    background-color: rgb(245, 27, 27);
    color: white;
    width: 100px;
    border:none;
}

.form-control .error{
    color: red;
    height: 20px;
    margin-top: 7px;
    
    
}

.form-Control.success input{
    border-color:green;

}
.form-control.error input{
    border-color:red;
}